.frameChild {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.aksharShah,
.founderAndCeo,
.frameChild {
  position: relative;
}

.founderAndCeo {
  color: gray;
}

.aksharShahParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}

.linkedinIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  padding-right: 1rem;
}

.frameGroup,
.frameParent {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.frameGroup {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl) var(--padding-base) var(--padding-base);
  justify-content: space-between;
}

.frameParent {
  flex: 1;
  border: 1px solid rgb(229, 224, 224);
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--heading-16-size);
  color: var(--color-black);
  font-family: var(--paragraph-20);
}

@media only screen and (max-width: 391px) {
  .frameGroup {
    width: 155.5px;
    height: 59px;
  }

  .aksharShahParent {
    width: 99px;
    height: 43px;
  }

  .aksharShah {
    width: 84px;
    height: 21px;
    font-size: 0.9rem;
    justify-content: space-between;
    display: flex;
  }

  .founderAndCeo {
    height: 18px;
    width: 99px;
    font-size: 0.8rem;
  }

  .frameChild {
    width: 155.5px;
    height: 124.5px;
    object-fit: unset;
  }

  .linkedinIcon {
    width: 16px;
    height: 16px;
  }
}