/* @media only screen and (min-width:1440px){ */
.FollowUs {
  border-radius: 0px 0px 80px 80px;
  background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 52.6%, #FFFFFF 100%);
  width: 100%;
  height: 47.5em;
  flex-shrink: 0;
  overflow: hidden;
  padding: 100px 72px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Futura PT', sans-serif;
}

.frameParent {
  width: 100%;
  height: 442px;
  padding: 0px;
  gap: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;

}

.FollowUs,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.FollowUsHeader {
  position: relative;
  font-family: 'Futura PT', sans-serif;
  font-style: normal;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #121B64;
}

.followUsParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  width: 700px;
  height: 181.01px;

}

.header {
  font-weight: 550;
  font-size: 64px;
  line-height: 120%;
  color: #121B64;
}

.discoverThePassion {
  position: relative;
  font-size: 28px;
  color: #32302F;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 700px;
  top: 32px;

}

.frameGroup {
  align-self: stretch;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 256px;
  font-size: 16px;
  color: grey;
  width: 100%;
  height: 181px;
}

@media (min-width:701px) and (max-width: 1024px) {
  .FollowUs {
    width: 1024px;
    height: 600px;
    background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 17.24%, #FFFFFF 100%);
    border-radius: 0px 0px 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 72px;
    gap: 32px;
  }
  .header{
    font-weight: 550;
    font-size: 64px;
    line-height: 120%;
    color: #121B64;
    margin-bottom: 0px;
  }
  .discoverThePassion{
    font-size: 28px;
  }

}

@media (min-width: 300px) and (max-width: 700px) {
  .FollowUs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px;
    width: 375px;
    height: 304px;
    background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 17.24%, #FFFFFF 100%);
    border-radius: 0px 0px 48px 48px;
    font-size: 32px;
    font-weight: 550;
  }
  .frameParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 327px;
    height: 306px;
  }
  .header {
  font-family: 'Futura PT',sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 32px;
  line-height: 41px;
}
  .FollowUsHeader {
  width: 327px;
  height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #121B64;
  }
  .discoverThePassion{
    font-family: 'Futura PT',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 327px;
    height: 63px;
    color: #32302F;
    top: 10px;
  }
  .frameGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    gap: 0px;
    width: 327px;
    height: 138px;
    background: #FFFFFF;
    margin-bottom: 48px;
   
  }
  .youtubeIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 99px;
    height: 74px;
  }
  .LinkedinIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 99px !important;
    height: 74px !important;
  }
  .telegramIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 99px !important;
    height: 74px !important;  
  }
}