.footerChild {
  position: absolute;
  bottom: 116.5px;
  left: 72px;
  border-top: 1px solid #DFDEDE;
  box-sizing: border-box;
  width: 94rem;
  height: 1px;

}

.fixerraPvtLtd {
  position: absolute;
  bottom: 64px;
  left: 72px;
  font-size: 14px;
  font-family: "Poppins";
}

.frameIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;

}

.frameParent {
  position: absolute;
  right: 125px;
  bottom: 77px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 39.5px;
}

.wantToTalk {
  color: #fff;
}

.callUsAnd,
.wantToTalk {
  position: relative;
  display: inline-block;
  width: 342px;
}

.phoneParent,
.wantToTalkParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.phoneParent {
  flex-direction: row;
  gap: 12px;
}

.wantToTalkParent {
  position: absolute;
  top: 100px;
  left: 549px;
  flex-direction: column;
  gap: 7px;
}

.invest {
  position: relative;
}

.companyParent,
.fdBazaarParent,
.investParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  color: #ffffff;
}

.companyParent,
.investParent {
  position: absolute;
  top: 88px;
  left: 1242px;
  gap: 13px;
  color: #ffffff;
}

.companyParent {
  left: 1065px;
}

.frameIcon3 {
  position: relative;
  width: 108.75px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}

.frameGroup {
  position: absolute;
  top: 100px;
  left: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.footerParent {
  position: relative;
  background-color: #121B64;
  width: 100%;
  height: 584px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 20px;
}

@media (max-width: 1024px) {
  .footerChild{
    width: 85rem;
    left: 4.5rem;
  }
  .fixerraPvtLtd{
    left: 4.3rem;
  }
  .footerParent {
    right: 3.2rem;
    width: auto;
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

}

@media (min-width: 300) and (max-width: 700) {
  .wantToTalkParent{
    width: 327px;
    height: 113px;
    top: 15rem; 
    left: 2rem;
    font-size: 0.8rem;
  }
  .footerParent {
    width: 375px;
  }
  .investParent{
    height: 142px;
    width: 98px;
    top: 2rem; 
    left: 2rem;
    font-size: 0.8rem;
    margin: unset;
  }
  .companyParent{
  top: 2rem; 
  left: 11rem;
    width: 104px;
    height: 171px;
    font-size: 0.7rem;
  }
  .invest{
    width: 50px;
    height: 21px;
    margin: unset;
  }
  .frameIcon{
    margin: unset;
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  .frameGroup{
    width: 327px;
    height: 123px;
    left: unset;
    top:30rem;
    left: 2rem;
  }
  .footerChild{
    width: 327px;
    left: 1.5rem;
    bottom: 3rem;
    
  }
  .fixerraPvtLtd{
    width: 109px;
    height: 18px;
    font-size: 0.5rem;
    left: 1.5rem;
    bottom: 1.7rem;
  }
  .footerParent{
    width: 375px;
    height: 687px;
    left:-0.2rem;
  }
  .phoneParent{
    width: 174px;
    height: 29px;
  }
  .callUsAnd{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    font-size: 1rem;
  }
  .frameIcon3{
    width: 108.75px;
    height: 30px;
  }
  .frameParent{
    width: 120px;
    height: 24px;
    bottom: 1.7rem;
    right: -2rem;
  }
  .side2{
    width: 107px;
  }
  .side3{
    font-size: 0.8rem;
    width: 150px;
  }
  .side4{
    font-size: 2rem;
  }
}