/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.cdnfonts.com/css/futura-pt");
/* @media only screen and (min-width: 1440px){ */
body{
  margin:0px !important;
  padding:0px !important;
  font-family: 'Futura PT', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
@media  (max-width: 1024px){
  p{
    font-size: 16px;
  }
  h1{
    font-size:32px;
  }
}
