/* @media only screen and (min-width: 1440px){ */
.span {
  color: #7E8139;
  font-family: 'Futura PT', sans-serif;
  font-style: normal;
}

.savingsTxtContainer {
  width: 50rem;
  height: 4.8125rem;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: flex-start;
  color: #121B64;

}

.getAccessTo,
.savings {
  display: flex;
  align-items: center;
  font-style: normal;
  font-family: 'Futura PT', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.savings {
  position: relative;
  line-height: 120%;
  width: 240px;
}

.getAccessTo {
  font-size: 28px;
  color: #32302F;
  width: 170%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 64px;
}

.getAccessTo,
.saveNow {
  position: relative;
}

.saveNowWrapper {
  text-align: center;
  border: 1px solid #121B64;
  border-radius: 55px;
  padding: 16px;
  color: #121B64;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}

.savingsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 72px;
  width: 50%;
}

.hero,
.savingChild {
  flex-shrink: 0;
  overflow: hidden;
}

.savingChild {
  position: relative;
  background-color: #F4F3F3;
  width: 496px;
  height: 496px;
  margin: 130px 72px 130px 72px;
}

.savingSection {
  border-radius: 0px 0px 80px 80px;
  background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0.95) 35.27%);
  width: 100%;
  height: 760px;
  flex-direction: row;

  box-sizing: border-box;
  align-items: center;

  text-align: left;

  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr)
}

@media (min-width:741px) and (max-width: 1024px) {
  .savingSection {
    width: 1024px;
    height: 540px;

    background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0.95) 35.27%);
    border-radius: 0px 0px 80px 80px;
  }

  .savingsParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 400px;
    height: 291px;

  }

  .savingChild {
    position: absolute;
    background: #F4F3F3;
    height: 355.2631530761719px;
    width: 355.5555419921875px;
    left: 596px;
    /* top: 92.3681640625px; */
    right: 72.44px;
    border-radius: 0px;

  }

  .getAccessTo {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #32302F;
    width: 485px;
    height: 108px;
  }


}

@media (min-width: 300) and (max-width: 740) {
  .savingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    gap: 24px;
    width: 375px;
    height: 631px;
    background: linear-gradient(180deg, #F7F7F7 0%, rgba(255, 255, 255, 0.95) 35.27%);
    border-radius: 0px 0px 48px 48px;
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .saveNowWrapper {
    width: 327px;
    height: 327px;

    background: #DDDDDD;
  }

  .savingsParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 327px;
    height: 184px;
    align-self: stretch;
  }

  .savings {
    width: 327px;
    height: 41px;
  }

  .savingsTxtContainer {
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #121B64;
  }

  .span {
    background: linear-gradient(0deg, #7E8139, #7E8139);

  }

  .getAccessTo {
    width: 327px;
    height: 42px;
    font-family: 'Futura PT', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #32302F;
  }
}