.StartInvesting {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 72px;
  gap: 32px;
  font-family: 'Futura PT', sans-serif;
  width: 100%;
  height: 760px;
  background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 23.92%);
  border-radius: 0px 0px 80px 80px;
  flex: none;
  order: 11;
  flex-grow: 0;

}

.frameParent {
  flex-direction: column;
  padding: 0em;
  gap: 2em;
  /* width: 43.75em;
  height: 16.625em; */
  align-items: center;
}

.headerParent {
  height: 1.8em;
  font-family: 'Futura PT', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #121B64;
}

.content {
  width: 700px;
  height: 72px;
  margin-top: 32px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  padding-left: 90px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #32302F;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buttonParent {
  justify-content: center;
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
  font-size: 16px;
  margin-top: 32px;
  width: 7.175em;
  height: 53px;
  background: #121B64;
  border-radius: 32px;
  color: white;
  flex: none;
  order: 2;
  flex-grow: 0;
}

@media (min-width:701px) and (max-width: 1024px) {
  .StartInvesting {
    width: 1024px;
    height: 600px;
    background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 17.24%, #FFFFFF 100%);
    border-radius: 0px 0px 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 72px;
    gap: 32px;
  }

}

@media (min-width: 300) and (max-width: 700) {
  .StartInvesting {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px;
    width: 375px;
    height: 304px;
    background: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 17.24%, #FFFFFF 100%);
    border-radius: 0px 0px 48px 48px;
  }
}